<h1>	User Sign Up Form </h1>
<form action="/user/create" method="POST" class="form-horizontal">
	<%if (flash && flash.err) { %>
		<ul class="alert alert-success">
			<%Object.keys(flash.err).forEach(function(error) { %>
				<li><%= JSON.stringify(flash.err[error]) %></li>
			<%	}) %>
		</ul>
	<%	} %>
	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" placeholder="yourname" name="name">
	    </div>
  	</div>
  	<div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
	    </div>
  </div>
  	<div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      
	      <input type="password" class="form-control" placeholder="Your password" name="password">
	    </div>
	</div>

	<div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="inputPassword3"  placeholder="confirm password" name="confirmation">
	    </div>
	</div>

	<script type="text/javascript"
                   src="http://www.google.com/recaptcha/api/challenge?k=6LcUhvoSAAAAAPk-cpn83oMQeW07yIIRyWSX8oeH">
                </script>
                <noscript>
                   <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcUhvoSAAAAAPk-cpn83oMQeW07yIIRyWSX8oeH"
                       height="300" width="500" frameborder="0"></iframe><br>
                   <textarea class="captcha-nec" name="recaptcha_challenge_field" rows="3" cols="40">
                   </textarea>
                   <input type="hidden" name="recaptcha_response_field"
                       value="manual_challenge">
                </noscript>
	
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-success">Sign up</button>
	    </div>
  	</div>
  	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<!-- <input type="submit" class="btn btn-success" value="create account"> -->
	
</form>

 <script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'clean'
 };
 </script>